PORT=3000
NODE_ENV=development

# MySQL Global Connection Settings
DB_HOST=localhost
DB_PORT=3306
DB_NAME=LexMed

# Role-based DB Credentials
DB_USER_JMO=demo_jmo
DB_PASS_JMO=password123

DB_USER_POLICE=demo_police
DB_PASS_POLICE=password123

DB_USER_CLERK=demo_clerk
DB_PASS_CLERK=password123

DB_USER_ADMIN=demo_admin
DB_PASS_ADMIN=password123

DB_USER_AUDITOR=demo_auditor
DB_PASS_AUDITOR=password123

# Secrets
JWT_SECRET=super_secret_jwt_key_example
AES_NIC_KEY=super_secret_encryption_key_example
